header{
   background-color: yellow;
}

footer{
   background-color: powderblue;
}
.page{
   min-height: 40rem;
}
.home{
   background-color: tomato
}
form{
   align-items: center;
   padding: 30px;
   border-radius: 14px;
   margin: 100px;
}
  
