header{
   background-color: yellow;
}

footer{
   background-color: powderblue;
}
.page{
   min-height: 40rem;
}
.home{
   background-color: tomato
}
form{
   background-color: white;
   margin: 50%;
   padding: 20px
}
